.btn-to-reports{
width: 84px;
height: 24px;
position: absolute;
top: 50px;
right: 91px;
display: flex;
align-items: baseline;
gap:5px;
border: none;
background-color: transparent;
}
.btn-to-reports-p1{
    text-align: right;
    font-size: 16px;
    letter-spacing: 4%;
    line-height: 14.06px;
    font-weight: 400;
    color:#52555FB2
}
.btn-to-reports-graph{
    width: 24px;
    height: 24px;
}