.box {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .box {
    width: 704px;
  }
}
@media (min-width: 1280px) {
  .box {
    width: 1034px;
  }
}

.back {
  display: flex;
}

.dataNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 200px;
}

.dataBold {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  padding: 5px;
}

.dataArrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowBtn {
  background: none;
  border: none;
  color: var(--orange);
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  padding: 5px;
}

.arrowBtn:hover {
  color: var(--light-orange);
}

.errorMessage {
  color: red;
  text-align: center;
}
