@media (max-width: 767px) {
  .box {
    width: 100%;
  }
  .text {
    display: none;
  }
  .dataNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 180px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: 32px;
    width: 704px;
  }
  .dataNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 210px;
  }
  .back {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
@media (min-width: 1280px) {
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: 32px;
    width: 1034px;
  }
  .dataNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 210px;
  }
  .back {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.dataNav {
  color: var(--text-light-grey)
}


.back {
  margin-top: 0px;
}

.dataBold {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  padding: 5px;
}

.dataArrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrowBtn {
  background: none;
  border: none;
  color: var(--orange);
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  padding: 5px;
}

.goBackBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-light-grey);
}

.errorMessage {
  color: red;
  text-align: center;
}

.arrowIcon {
  margin-right: 20px; 
}
